{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{% block body %}
    Testing <br>
    <h1>{{ message|upper }}</h1>
    <button class="btn btn-primary">Click Me!</button>
{% endblock %}