{% extends 'layout/main.html.twig' %}

{% block main %}
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="w-320px">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
